.weekdiv {
  min-height: 300px;
  border: solid 1px #b8bfba;
}

.maintable {
  background-color: #fff;
}

.day-outerdiv {
  width: 95%;
  overflow-x: auto;
  overflow-y: hidden;
}

.day-div {
  min-width: 500px;
  height: 60px;
}

.appt-div {
  width: 50px;
  border: solid 1px #bac2cf;
  float: left;
  margin: 0;
}

.appt-innerdiv {
  width: 50px;
  height: 30px;
  border: solid 1px #bac2cf;
  float: left;
  margin: 0;
  text-align: center;
  padding: 5px;
}

.day-col {
  width: 80%;
}

.btn-month {
  padding: 10px;
  background-color: #53946a;
  color: #fff;
  border: solid 1px #a0b8a8;
  font-size: 1.4rem;
}

.btn-month:hover, .btn-week:hover {
  background-color: #5be35d;
  color: #fff;
}

.month-container, .week-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: solid 1px #8c8f8d;
  text-align: center;
}

.week-container {
  height: 60px;
  overflow-x: auto;
  margin-bottom: 15px;
}

.day-container {
  text-align: center;
}

.btn-week {
  padding: 10px;
  background-color: #69c792;
  color: #000;
  border: solid 1px #a0b8a8;
  font-size: 1.3rem;
}

.btn-day {
  padding: 10px;
  background-color: #03fc7f;
  color: #000;
  border: solid 1px #a0b8a8;
  font-size: 1.3rem;
}

.selected {
  background-color: #1294b5 !important;
}

.first-appt {
  background-color: #08bf0e;
}

.booked-appt {
  background-color: #de4949;
}

.confirmed-appt {
  background-color: #e3d327;
}

.signup-appt {
  background-color: #4089f7;
}

.revisit-appt {
  background-color: #f564f2;
}

.blocked-timeslot {
  background-color: #61605f;
  color: #fff;
}

.edit-appt, .edit-blocked-slot {
  cursor: pointer;
}

.edit-appt:hover, .edit-blocked-slot:hover {
  border: solid 1px #1396cf;
}

.btn-small {
  font-size: 1.2rem;
  background-color: #45b07a;
  padding: 7px;
}

.key-color-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 7px;
}

.key-div {
  padding: 3px;
}

.key-container {
  margin: 15px 0;
  padding: 15px;
  border: solid 1px #a8a2a2;
  width: 300px;
}
/*# sourceMappingURL=appointment.css.map */