/* This page contains the css for a custom form*/
html, body {
  min-height: 100%;
}

body, div, form, input, select, textarea, label {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
}

h1 {
  position: absolute;
  margin: 0;
  font-size: 60px;
  color: #fff;
  z-index: 2;
  line-height: 83px;
  top: 30px;
}

legend {
  padding: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #08571c;
}

textarea {
  width: calc(100% - 12px);
  padding: 5px;
}

.testbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  padding: 20px;
}

form {
  width: 100%;
}

input, select, textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input {
  width: calc(100% - 10px);
  padding: 5px;
}

input[type="date"] {
  padding: 4px 5px;
}

textarea {
  width: calc(100% - 12px);
  padding: 5px;
}

.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::-webkit-input-placeholder {
  color: #006622;
}

.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover:-ms-input-placeholder {
  color: #006622;
}

.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::-ms-input-placeholder {
  color: #006622;
}

.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
  color: #006622;
}

.item input:hover, .item select:hover, .item textarea:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 3px 0  #006622;
          box-shadow: 0 0 3px 0  #006622;
  color: #006622;
}

.item {
  position: relative;
  margin: 10px 0;
}

.item span {
  color: red;
}

.colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.colums div {
  width: 48%;
}

label.radio {
  position: relative;
  display: inline-block;
  margin: 5px 20px 15px 0;
  cursor: pointer;
}

.question span {
  margin-left: 30px;
}

.question-answer label {
  display: block;
}

.flax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn-block {
  margin-top: 10px;
  text-align: center;
}

span.field-info {
  color: #797a7a;
  font-size: 1.1rem;
}

@media (min-width: 568px) {
  .name-item, .city-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .name-item input, .name-item div {
    width: calc(50% - 20px);
  }
  .name-item div input {
    width: 97%;
  }
  .name-item div label {
    display: block;
    padding-bottom: 5px;
  }
}
/*# sourceMappingURL=customform.css.map */