button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #1d7d35;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #0692e8;
}

button.close {
  width: 18px;
}

table button {
  width: 74px;
  font-size: 1.3rem;
  padding: 3px;
}

.required {
  color: red;
}

#email-to-label {
  color: #7a8082;
}

#email-to-div {
  padding: 3px 2px;
}

.email-address-tag {
  display: inline-block;
  padding: 3px;
  border-radius: 7px;
  background-color: #aef5d8;
  border: solid 1px #a1c2bf;
  margin: 3px;
}
/*# sourceMappingURL=custominput.css.map */