.maintable {
  border: solid 1px #c2cfc5;
  width: 100%;
}

.maintable thead {
  background-color: #dee2e3;
}

.maintable td, .maintable th {
  padding: 10px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  background-color: #ebf2e9;
  padding: 2px;
  -webkit-box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
}

.pageheading {
  color: #183d21;
  padding: 0 0;
  margin: 0 0 5px;
}

.tableheading {
  text-align: center;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #1d7d35;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #0692e8;
}

.iconbutton {
  padding: 0;
  background-color: transparent;
  color: #39824f;
  max-width: 40px;
  font-size: 24px;
}

.smallbutton {
  background-color: #09804a;
  color: #fff;
  padding: 6px;
  max-width: 70px;
  min-width: 50px;
}

.longbutton {
  background-color: #09804a;
  color: #fff;
  padding: 6px;
  min-width: 110px;
}

.btnDelete {
  color: #b54141;
}

.btn-block {
  margin-top: 10px;
  text-align: center;
}

.tickicon {
  color: #1f9156;
  font-size: 24px;
}

.buttonlink {
  background-color: #19632d;
  padding: 10px;
  width: 160px;
  color: #fff;
  border-radius: 6px;
  margin: 15px 0;
  display: inline-block;
  text-align: center;
}

.btnTab {
  display: inline-block;
  padding: 10px;
  width: 100px;
  background-color: #f2f8fa;
  color: #21752f;
  border: solid 1px #419c6c;
  margin: 5px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
}

.btnTab:hover {
  color: #fff;
  background-color: #0692e8;
}

.btnTabSelected {
  background-color: #529bba;
  color: #fff;
}

.btnShowAddRepPopup {
  background-color: #078743;
  color: #fff;
  padding: 2px 4px;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 4px;
}

.shortwidth-select {
  width: 300px;
}

.alert {
  border-radius: 10px;
  border: solid 1px #edf2ef;
  margin: 5px 30px;
}

.alert-success {
  background-color: #fff !important;
  color: #078c33 !important;
  border: solid 1px #078c33;
}

.alert-danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border: solid 1px #d2d4d2;
}

.shorttextbox {
  padding: 7px 10px;
  line-height: 18px;
  width: 360px;
  margin-bottom: 10px;
}

.longtextbox {
  padding: 7px 10px;
  line-height: 18px;
  width: 95%;
  margin-bottom: 10px;
}

.inputrow {
  width: 49%;
  display: inline-block;
}

#kpiAssignModal .modal-dialog {
  width: 500px;
}

#kpiAssignModalBody {
  height: 400px;
  overflow-y: auto;
}

#addRepModal .modal-dialog {
  width: 500px;
}

#addRepModalBody {
  height: 400px;
  overflow-y: auto;
}

.each-selected-rep {
  display: inline-block;
  min-width: 80px;
  background-color: #c1f5e2;
  border: solid 1px #b7c4bf;
  border-radius: 5px;
  padding: 2px 4px;
  margin-right: 3px;
}

.btnRemoveRep {
  color: #ad0c0c;
  padding: 0;
  background-color: transparent;
}

.largebutton {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #1d7d35;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.btnReps {
  padding: 2px 4px;
  border-radius: 4px;
  background: #1d7d35;
  font-size: 0.9rem;
  color: #fff;
  margin: 4px;
}

.user-footer {
  background-color: #f4fffd;
  border: solid 1px #e5e5e5;
}

.profile-img-icon {
  border-radius: 50%;
  width: 21px;
  height: 21px;
}

.dropzone {
  border: 3px solid #fff !important;
  background: #f2f5f5 !important;
}

.dropzone .dz-message {
  color: #10ad4f !important;
  font-size: large !important;
}

.single-profile-icon {
  width: 140px;
  display: inline-block;
  margin: 20px;
  border: solid 2px #8c8e91;
}

.single-profile-icon:hover {
  border-color: #1e7db0;
}

.single-profile-img {
  width: 100%;
}

.single-profile-imgbox {
  height: 140px;
  overflow-y: hidden;
}

.single-profile-namebox {
  height: 60px;
  overflow-y: hidden;
  text-align: center;
  padding: 2px;
  font-weight: bold;
  color: #393b3d;
}

.paginate-div {
  text-align: right;
  padding: 1px 40px;
}

.center-box {
  width: 99%;
  border: solid 1px #b8bfba;
  margin-left: auto;
  margin-right: auto;
}

ul.pagination > li.active > span {
  background-color: #168235;
}

button.btn-negative {
  background-color: #c6c9c3;
  color: #000;
}

.tablebutton-div {
  display: inline-block;
  width: 80px;
}

.ui-timepicker-standard {
  z-index: 2000 !important;
}

.premium-plan-icon {
  display: inline-block;
  max-width: 60px;
  font-size: 0.9rem;
  background-color: #049902;
  color: #fff;
  border-radius: 5px;
  border: solid 1px #bbc7bb;
  padding: 2px;
}

.sub-upgrade-alertbox {
  padding: 15px;
  font-size: 2rem;
  color: #fff;
  background-color: #e03d31;
  border-radius: 10px;
  border: solid 2px #dbc5c3;
  width: 220px;
  display: inline-block;
}

.error {
  color: red !important;
  font-weight: normal;
}

.main-header .logo {
  text-align: left;
}

.alertbox, .alert-fail {
  min-height: 90px;
  background-color: #f7fcfc;
  border: solid 1px #bec2c2;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 15px 25px;
  font-size: 1rem;
}

.alert-fail {
  color: #721c24;
  background-color: #f8d7da;
  border: solid 1px #d2d4d2;
}

.skin-green .main-sidebar, .skin-green .left-side {
  background-color: #cacecf;
}

.skin-green .sidebar a {
  color: #4c524e;
}

.skin-green .sidebar-menu > li:hover > a, .skin-green .sidebar-menu > li.active > a, .skin-green .sidebar-menu > li.menu-open > a {
  color: #4c524e;
  background: #c0c1c2;
}

.skin-green .sidebar-menu > li > .treeview-menu {
  background: #dee0e0;
}

.skin-green .sidebar-menu .treeview-menu > li > a {
  color: #4c524e;
}

.skin-green .sidebar-menu .treeview-menu > li > a:hover {
  color: #4c524e;
  background: #edeef0;
}

.content-wrapper {
  background-color: #fff;
}

.btn-campaign {
  width: 80%;
  display: block;
  padding: 10px;
  background-color: #529bba;
  color: #fff;
  margin: 5px 0;
  border-radius: 5px;
  border: solid 1px #dbdbdb;
}
/*# sourceMappingURL=main.css.map */