.colDiv {
height: 400px;
width: 95%;
margin: 10px;
box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
overflow-y: auto;
padding: 5px;
border-radius: 10px;
}

.smallheading {
margin: 0;
background-color: #04824d;
padding: 4px;
color: #fff;
font-size: 1.7rem;
}

.btnEachUser {
font-size: 1.4rem;
padding: 6px;
color: #000;
background-color: #edf7f7;
border: solid 1px #b6bbc2;
width: 98%;
display: block;
}

.btnEachUser:hover {
background-color: #c8f7f7;
color: #000;
}

.selecteduser-name {
display: inline-block;
width: 150px;
border-bottom: solid 1px #c7c7c7;
}

.btnRemoveMember i {
font-size: 18px;
color:#ad0c0c;
}