button {
  background: #1d7d35;
  color: #fff;
}

input, label {
  font-size: 1.6rem;
}

input.short-textbox {
  width: 70px;
}

.wizard {
  margin: 0 auto 20px;
  padding: 0px 15px;
  background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line1 {
  height: 9px;
  background: #e0e0e0;
  position: absolute;
  width: 30%;
  margin: 0 0;
  left: 19%;
  top: 37%;
  z-index: 1;
}

.connecting-line2 {
  height: 9px;
  background: #e0e0e0;
  position: absolute;
  width: 30%;
  margin: 0 0;
  left: 50%;
  top: 37%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tab i {
  color: #555555;
}

.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #35c463;
}

.wizard li.active span.round-tab i {
  color: #35c463;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 33%;
  text-align: center;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #35c463;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 100%;
  padding: 0;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}

.wizard h3 {
  margin-top: 0;
}

.step-label {
  color: #e0e0e0;
}

.active-color {
  color: #35c463;
}

.active-bgcolor {
  background-color: #35c463;
}

.radiobutton-outerdiv {
  display: inline-block;
  margin: 10px 20px;
  width: 170px;
  height: 180px;
  background-color: #dcf2e3;
}

.radiobutton-div {
  width: 170px;
  height: 180px;
  border: solid 2px #bbc1c9;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  z-index: 5;
}

.radiobutton-outerdiv > .info-div {
  width: 170px;
  height: 180px;
  position: absolute;
  z-index: 1;
  text-align: center;
}

.radiobutton-outerdiv .subscription-title {
  font-size: 2rem;
  color: #063b17;
  font-weight: 600;
}

.radiobutton-outerdiv .price {
  font-size: 6rem;
  color: #000;
  font-weight: 700;
}

.radiobutton-outerdiv .price-info {
  font-size: 1.7rem;
  color: #383b38;
  font-weight: 500;
}

.selected {
  border: solid 2px #35c463;
}

.formsection {
  text-align: center;
  border-bottom: solid 1px #bec2be;
  margin-bottom: 15px;
  padding: 0 0 10px;
}

table.ordertable {
  width: 100%;
  padding: 15px;
  font-size: 1.7rem;
}

@media (max-width: 585px) {
  .wizard {
    width: 90%;
    height: auto !important;
  }
  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
/*# sourceMappingURL=multistepform.css.map */