.spn-role {
  color: #00330e;
  font-weight: bold;
}

.fontawesome-icon {
  color: #0d915c;
  font-size: 1.5em;
}

.clearfix:after {
  clear: both;
  display: block;
  content: " ";
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

.oneliner, .additional-block .label, .additional-block .value, .carousel-block .description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

html > body .oneliner, html > body .additional-block .label, .additional-block html > body .label, html > body .additional-block .value, .additional-block html > body .value, html > body .carousel-block .description, .carousel-block html > body .description, x:-moz-any-link {
  white-space: normal;
}

.thisToFlexContainer, .box-container, .profile-info .item, .relations-block .item, .activities-block .item, .searchprofiles-block .item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

.thisToFlexWidthOne, .profile-info, .profile-info .item .value, .relations-block .value, .activities-block .value, .searchprofiles-block .value {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.thisToFlexWidthTwo {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}

body {
  background: #f0f0f0;
  overflow-y: scroll;
}

.profile-wrapper {
  color: #333;
}

h2 {
  margin: 0;
  padding: .5em;
  border-bottom: 1px solid #f0f0f0;
  font-weight: normal;
}

p {
  padding: 0 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.label {
  color: #969696;
}

.value {
  color: #333;
}

.value.link {
  color: #1b75bb;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.additional-block {
  background: #fcfcfc;
  border: 1px solid #dadada;
  margin: 1em;
  position: relative;
  padding: 0 10px;
}
.additional-block .clearfix {
  width: 100%;
  display: block;
}
.additional-block .label, .additional-block .value {
  display: inline-block;
}

.box-container {
  width: 100%;
}

.image-container {
  padding: 1em 0 0 1em;
}

.profile-info {
  padding: 1em;
}
.profile-info h2 {
  border: none;
  padding: 0 0 0 0;
}
.profile-info .item {
  line-height: 1.7;
  width: 100%;
}
.profile-info .item .label {
  width: 12em;
  padding: 0;
}
.profile-info .item .value {
  padding: 0;
}

.buttons {
  width: 17em;
}
.buttons li {
  text-align: left;
  background: #f0f0f0;
  cursor: pointer;
  padding: 1.2em 1em 1.2em 2em;
  position: relative;
}
.buttons li i {
  display: inline-block;
  font-size: 14px;
  padding-right: .5em;
  width: 1em;
}
.buttons li:hover {
  background: #eaeaea;
}
.buttons .moregroup {
  display: none;
  width: 17em;
  position: absolute;
  left: 0;
  top: 3.8em;
  z-index: 10;
}
.buttons .moregroup li {
  position: relative;
  background: #e3e3e3;
  padding-left: 4.5em;
  padding-top: .6em;
  padding-bottom: .5em;
}
.buttons .moregroup li:hover {
  background: #d6d6d6;
}
h2 ~ .buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.carousel-block {
  background: #fcfcfc;
  border-bottom: 1px solid #dadada;
  white-space: nowrap;
  overflow-x: scroll;
}
.carousel-block .container {
  display: inline-block;
  padding: 1em 0 1em 0;
  margin-left: 1em;
  text-align: center;
}
.carousel-block .container:hover {
  background: #f0f0f0;
}
.carousel-block .container:last-child {
  padding-right: 1em;
}
.carousel-block img {
  display: inline-block;
  width: 10em;
  height: 10em;
  background: #f0f0f0;
  cursor: pointer;
}
.carousel-block .description {
  color: #969696;
  cursor: pointer;
  width: 10em;
  margin: 0;
  padding: 0;
}
.carousel-block .description:hover {
  color: #333;
}

.address-details {
  padding: 1em 0;
}
.address-details .item {
  width: 45em;
  display: inline-block;
  margin-right: 1em;
  line-height: 1.7;
}

.address-details .item .label {
  max-width: 20em;
}
.address-details .item .value {
  width: 20em;
}

.relations-block .item, .activities-block .item, .searchprofiles-block .item {
  line-height: 2;
  width: 100%;
}
.relations-block .item i, .activities-block .item i, .searchprofiles-block .item i {
  display: inline-block;
  width: 2em;
  font-size: 14px;
  text-align: center;
  color: #333;
  line-height: 1.6;
}
.relations-block .item i[class=icon-ok-sign], .activities-block .item i[class=icon-ok-sign], .searchprofiles-block .item i[class=icon-ok-sign] {
  color: #439b18;
}
.relations-block .item .undone, .activities-block .item .undone, .searchprofiles-block .item .undone {
  opacity: .2;
  color: #439b18;
}
.relations-block p, .activities-block p, .searchprofiles-block p {
  margin: 0;
  color: #969696;
  padding: 0 1em 0 0;
}
.relations-block .label, .activities-block .label, .searchprofiles-block .label {
  width: 10.5em;
}
.relations-block .value, .activities-block .value, .searchprofiles-block .value {
  height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.relations-block .description, .activities-block .description, .searchprofiles-block .description {
  width: 13em;
  /* Chrome 12em */
}
.relations-block h2 + .item, .relations-block .buttons + .item, .activities-block h2 + .item, .activities-block .buttons + .item, .searchprofiles-block h2 + .item, .searchprofiles-block .buttons + .item {
  margin-top: 1em;
}
.relations-block .item:last-child, .activities-block .item:last-child, .searchprofiles-block .item:last-child {
  margin-bottom: 1em;
}

.label, .value {
  font-size: 1em;
}

#profile-img {
  width: 140px;
  height: 140px;
}

.additional-block h4 {
  margin: 0 10px;
}

@media screen and (min-width: 1200px) {
  .carousel-block img {
    width: 20em;
    height: 20em;
  }
  .carousel-block .description {
    width: 20em;
  }
}
@media screen and (max-width: 800px) {
  .carousel-block img {
    width: 5em;
    height: 5em;
  }
  .carousel-block .description {
    width: 5em;
  }
}
